<style>
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
</style>// <uniquifier>: Use a unique and descriptive class name
// <weight>: Use a value from 400 to 700

</style>.bebas-neue-regular 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
  <style>
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&display=swap');
</style>.bebas-neue-regular 
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    <style>


/* font-family: "Bebas Neue",  font-family: "Edu AU VIC WA NT Guides", cursive;*/

body{background-color:gainsboro;}

h1,p{
    font-family: "Bebas Neue", sans-serif; font-family:
}
h2{border:5px solid yellowgreen;}

p{border: red solid;}

img
{border: 10px solid green;
}
iframe{
  border:10px solid black;
}


h1,li{border-style: dotted;
  background-color: rgb(240, 143, 143);
   margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 10px;
  margin-right: 10px;
}
 
front: size 50px;
#colormarron{
    color:brown;
    font-size: 42px; }
    border: solid ;
h2{color:green;
font-size: 30px;} 

p{font-family: "Edu AU VIC WA NT Guides", cursive;}

p{color:blue;
font-size: 21px;}

.a{color:chartreuse;
  border: solid ;
font-size:21px;}

li{font-family: "Edu AU VIC WA NT Guides", cursive;}
li{color:red;


ul{color:rgb(240, 77, 17);

font-size:21px;}

